button.btn.btn-light {
  background-color: rgb(0, 0, 0);
  color: white;
}

body {
  
  background-color: rgba(223, 223, 223, 0.295);
}

.card {
  border: none;
  background-color: rgba(153, 153, 153, 0.151);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding-top: 0;
  position: relative;
  height: 100%;
}

.card img {
  object-fit: contain;
  height: 200px;
}
.card-2 img {
  object-fit: contain;
  height: 300px;
  cursor: pointer;
}

.rent-button {
  background-color: white;
  color: brown;
  font-weight: bold;
  margin-bottom: 3px;
  border: brown 3px solid;
  border-radius: 30px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.buy-button {
  background-color: white;
  color: green;
  font-weight: bold;
  border: green solid 3px;
  border-radius: 30px;
  cursor: pointer;
   text-decoration: none;
  text-align: center;
}

.bi-heart {
  color: brown;
  top: 0;
  right: 0;
}

.card-title-2:hover {
  color: brown;
}
.card-text-2 {
  color: brown;
}

.card-text-2:hover {
  color: rgb(0, 0, 0);
}

.last-box a {
  text-decoration: none;
  border-left: 2px black solid;
  padding: 10px;
  color: black;
  font-weight: bold;
  padding-left: 50px;
}
.box-2 {
  text-decoration: none;
  color: black;
}
.box-2:hover {
  color: brown;
}

.box-3 h5 {
  color: brown;
}

.style-box-3 {
  color: brown;
}

.bg-brown {
  background-color: brown;
  width: 20rem;
  height: 3rem;
  padding: 3px;
  font-size: larger;
  font-weight: 500;
  cursor: pointer;
  color: white;
  border: none;
  text-decoration: none;
  text-align: center;
}
.bg-brown:hover{
  color:#337ab7;

}

.box-last a {
  margin-bottom: 20px;
  text-decoration: none;
  color: brown;
}
.contact i{
  font-size: 30px;
  margin-left: 40px;


}
.box-last a:hover{
  color: rgb(0, 0, 0);
}
